<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Script" type="Efreda.Script.ScriptSection,Efreda.Script"/>
	</configSections>
	
	<!--脚本引擎配置-->
	<!--
    参数说明：
    StartEngine：是否启动脚本引擎
    
    RelativePath：是否为相对路径
    
    ScriptPath：脚本目录，根据RelativePath填写相对或绝对路径，相对路径只需要填写脚本目录名称即可
    
    CreateGACMapping：是否创建全局程序集映射，该操作耗时5-10秒，如果创建了映射，则可以简单的通过限定名称（命名空间+类名）在JS中实例化.NET类，而无需
    指定强名称
    
    CreateMappingAsyn：是否通过异步方式创建映射，以免阻塞主线程
  -->
	<Script StartEngine="True" RelativePath="True" ScriptPath="scripts" CreateGACMapping="False" CreateMappingAsyn="False"/>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
